<h1>Addresses</h1>
<p>Typed in Addresses</p>
<% @route.addresses.each do |route|%>
<p> Address Entered: 
<%= route.text%>
</p>
<% end %>

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/?q=<%= @route.addresses.first.text %>+to+<%= @route.addresses.last.text %>&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/?q=<%= @route.addresses.first.text %>+to+<%= @route.addresses.last.text %>&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>